/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Container */
.register-container, .login-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 40px 30px; /* Increased padding for top and bottom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 30px 0; /* Margin to give space between the container and other elements */
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Links */
.links {
    margin-top: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* Error and Success Messages */
.error-message {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 15px;
}

.success-message {
    color: #4CAF50;
    font-size: 14px;
    margin-top: 15px;
}

/* Checkbox Container */
.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.checkbox-container input {
    width: auto;
}
